<launch>
    <!-- 1. Bring up robot base -->
    <include file="$(find jupiterobot2_bringup)/launch/jupiterobot2_bringup.launch"/>

    <!-- 2. Bring up top camera -->
    <include file="$(find robotedge_jupiter_vision)/launch/multi_astra.launch"/>

    <!-- 3. Bring up arm & head motor -->
    <include file="$(find jupiterobot2_bringup)/launch/arm_head_bringup.launch"/>

    <!-- 4. Launch predefined map -->
    <node pkg="fyp_pang" type="wait_and_launch_navigation.sh" name="navigation_launcher" output="screen"/>
    
    <!-- 5. Bring up arm move_it -->
    <include file="$(find jupiterobot2_bringup)/launch/moveit_bringup.launch"/>
</launch>