<launch>
    <node pkg="fyp_pang" type="detect.py" name="start_detection" output="screen"/>
    <node pkg="fyp_pang" type="navigation.py" name="navi_point" output="screen"/>
    <node pkg="fyp_pang" type="arm_grab.py" name="head_arm_hand" output="screen"/>
    <node pkg="fyp_pang" type="example_main.py" name="example_main" output="screen"/>
</launch>